*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    font-size: 14px;
}
img{
    vertical-align: top;
}
section{
    margin-bottom:176px;
    background-color:#fff;
    margin-top: 48px;
}
.clearfix::after,.clearfix::before{
    content:'';
    display: table;
}
.clearfix::after{
    clear: both;
}
/* 页面宽度80%，最小1200px */
.content{
    width:80%;
    min-width: 1200px;
    margin:0 auto;
}
nav{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #fff;
    line-height: 66px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index: 999;
}
#logo{
    height:66px;
    vertical-align: top;
}
/* 导航样式 */
nav ul:first-child{
    float: right;
}
nav ul:first-child li{
    float: left;
}
nav ul:first-child li a{
    color:#333;
    padding:22px 30px;
}
nav ul:first-child li:hover a{
    color:#3DB45E;
}
/* 菜单项左间距 */
nav ul:first-child li:not(:nth-child(6)){
    margin-left:0;
}
nav ul:first-child li:nth-child(7) a{
    padding:23px 10px;
}
nav ul:first-child li:nth-child(7) a:hover{
    border:none;
}
nav ul:first-child li:nth-child(9) a{
    padding:23px 10px;
}
nav ul:first-child li:nth-child(9) a:hover{
    border:none;
}

/* 二级导航样*/
nav ul li:nth-child(6){
    position: relative;
}
/* 二级导航定位 */
nav ul li:nth-child(6)>ul{
    position: absolute;
    top:67px;
    width:116px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: none;
}
/* 二级导航样式及hover */
nav ul li:nth-child(6)>ul li{
    height: 50px;
    line-height:50px;
    float:none;
    transition: all 0.1s linear;
}
nav ul li:nth-child(6)>ul li:hover{
    background-color:#3DB45E;
}
nav ul li:nth-child(6):hover>ul{
    display: block;
}
nav ul li:nth-child(6)>ul li a{
    border:none;
    padding:10px;
    color:#333;
}
nav ul li:nth-child(6)>ul li:nth-child(1) a{
    border:none;
}
nav ul li:nth-child(6)>ul li:nth-child(2) a{
    border:none;
}
nav ul li:nth-child(6)>ul li:nth-child(3) a{
    border:none;
}
nav ul li:nth-child(6):hover>ul li a{
    color:#333;
}
nav ul li:nth-child(6)>ul li:hover a{
    color:#fff;
}
/* 面包屑 */
#Breadcrumb{
    height:50px;
    line-height: 50px;
    text-align: right;
}
#Breadcrumb a:nth-of-type(1){
    color:#333;
}
#Breadcrumb a:nth-of-type(2){
    color:#3DB45E;
}
#Breadcrumb a:nth-child(1):hover{
    color:#3DB45E;
}
#Breadcrumb a:nth-child(2){
    color:#3DB45E;
}
#Breadcrumb a span{
    font-size: 20px;
}
.line-top{
    margin-top:66px;
    border-bottom: 1px solid #f5f5f5;
}

/* 底部 */
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #282828;
    z-index: -1;
    padding:30px 0;
}
/* 底部导航 */
footer ul li{
    float: left;
}
footer ul{
    color:#f5f5f5;
}
footer ul li a{
    color:#fff;
    padding:0 30px;
}
footer ul li:nth-child(1) a{
    color:#fff;
    padding-left: 0;
}
footer ul li:nth-child(12) a{
    padding-right: 0;
    padding-left: 10px;
}
footer ul li:nth-child(13) a{
    padding-right:20px;
}
footer ul li:hover a{
    color:#3DB45E;
}
footer ul li:nth-child(12){
    float: right;
}
footer ul li:nth-child(13){
    float: right;
    padding-right: 0;
}
/* line */
footer div:nth-child(2){
    margin-top: 20px;
    border-top: 2px solid #333;
}
/* copy */
footer div div:nth-of-type(2){
    float: left;
}
footer p{
    color:#666;
    margin-right: 0;
}
footer div p:nth-of-type(1){
    margin-top: 20px;
}
footer div p:nth-of-type(2){
    font-size: 12px;
    margin-top: 10px;
}
footer div p:nth-of-type(2) span a{
    color:#3DB45E;
}
footer div p:nth-of-type(2) span a:hover{
    text-decoration: underline;
}
/* 二维码 */
footer div div:last-child{
    float:right;
    display: inline-block;
    margin-top: 20px;
    background-color: #fff;
    width: 50px;
    height:50px;
    border-radius: 5px;
    overflow: hidden;
}
footer div div:last-child img{
    width:100%;
    height:100%;
}